body {
    background-color: rgb(33, 245, 14);
    color: black;
    text-align: justify;
    font-size: 25px;
}

h1{
    background-color: black;
    color: aliceblue;
    text-align: center;
    font-size: 30px;
}